.services {
  &__wrapper {
    padding: 60px 0px 50px;
    display: flex;
    flex-wrap: wrap;
  }

  &__column {
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    @media (max-width: 767px) {
      & {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }
    }

    @media (max-width: 575px) {
      & {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }
  }

  &__item {
    padding-left: 65px;
    position: relative;
    margin-bottom: 20px;

    & i {
      font-size: 36px;
      color: #ca1515;
      position: absolute;
      left: 0;
      top: 4px;
    }

    & h6 {
      font-size: 16px;
      color: #111111;
      font-weight: 600;
      margin-bottom: 5px;
    }

    & p {
      margin-bottom: 0;
      font-size: 14px;
      font-family: "Montserrat", sans-serif;
      color: #666666;
      font-weight: 400;
      line-height: 24px;
      margin: 0 0 15px 0;
    }
  }
}

.fa {
}
.fa-car {
}
.fa-money {
}
.fa-support {
}
.fa-headphones {
}
